<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestAssuredSampleTestingSuite">
	<test verbose="2" name="Rest Assured Test">
		<classes>
			<class name="com.testCases.SampleGetTestCase001" />
			<!-- <class name="com.testCases.SamplePostTestCase002" />
			<class name="com.testCases.SamplePutTestCase003" />
			<class name="com.testCases.SampleDeleteTestCase004" /> -->
		</classes>
	</test> <!-- Default test -->
</suite> <!-- Default suite -->